
.itemView{
    width: 90%;
    min-height: 120vh;
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 3px 3px 20px 3px #BBB;
    margin: auto;
}

.viewImageDiv{
    width: 24em;
    max-height: 36em;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}

.viewImage{
    border-radius: 5px;
}

.itemOptions{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.temp{
    color: white !important;
}

.itemImage{
    border-radius: 5px;
}

.itemInformation{
    width: 100%;
}

.inline{
    height: 100%;
    display: inline-block;
    /* background-color: black; */
    margin: auto;
}

.colorCheckBox{
    display: inline-block;
    width: 16px;
    height: 16px; 
    border-radius: 8px;
    margin-right: 3px;
    cursor: pointer;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.grey{
    background-color: grey;
}

.optionTitle{
    font-size: 16px;
}

.optionDiv{
    margin-top: 1em;
}

.myHr{
    margin: 0 !important;
}

.sizeSelect{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.itemDescription{
    width: 100%;
    /* height: 50vh; */
    margin-top: 4em;
    font-size: 14px;
}

.addToCartButton{
    width: 9em;
    height: 3em;
    border-radius: 10px;
    background-color: #193399;
}

.buttonInline{
    line-height: 100%;
}

.cols{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3em;
}

.sec{
    width: 90%;
    padding-bottom: 2em;
    margin-bottom: 3em;
}

.bb{
    border-bottom: solid grey 1px;
}
