
.itemRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2em;
}

.itemListing{
    width: 90%;
    background-color: white;
    padding: 2em;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 10px 3px #BBB;
    overflow: hidden;
}

.itemTitle{
    width: 100%;
    text-align: center;
}

.itemSubtitle{
    width: 100%;
    margin-bottom: 1em;
}

.itemImage{
    width: 100%;
    height: 36em;
    margin-bottom: 1em;
    overflow: hidden;
}

.image{
    border-radius: 5px;
}

.itemDescription{
    width: 100%;
    height: 5em;
    overflow: hidden;
}

.itemCard{
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    padding: 2em;
}
